i#addLeadIcon {
    color: #7a7a7a !important;
}

i#addLeadIcon:hover {
    color: #fff !important;
}

.spinner-3 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: conic-gradient(#0000 10%, #25b09b);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
    animation: s3 1s infinite linear;
    margin: 0 auto;
}

@keyframes s3 {
    to {
        transform: rotate(1turn)
    }
}

/* #sidebar-menu ul li a {
    padding: 0.3rem 0.5rem .3rem 1.5rem;
} */