<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <title>Coming Soon | Admiria - Admin & Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description">
    <meta content="Themesbrand" name="author">
    <!-- App favicon -->
    <link rel="shortcut icon" href="public/assets/images/favicon.ico">

    <%- include ('../Partials/HeaderStyle') %>

</head>

<body>

    <!-- Loader -->
    <div id="preloader">
        <div id="status">
            <div class="spinner"></div>
        </div>
    </div>

    <div class="my-5 pt-sm-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                        <a href="/">
                            <img src="public/assets/images/logo.png" alt="logo" height="30">
                        </a>

                        <h3 class="mt-5">Coming Soon</h3>
                        <p>We are working hard to launch a new website with new features. </p>

                        <div class="row justify-content-center mt-5">
                            <div class="col-md-7">
                                <div data-countdown="2021/12/31" class="counter-number"></div>
                            </div> <!-- end col-->
                        </div> <!-- end row-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include ('../Partials/VendorScript') %>

        <!-- Plugins js-->
        <script src="public/assets/libs/jquery-countdown/jquery.countdown.min.js"></script>

        <!-- Countdown js -->
        <script src="public/assets/js/pages/coming-soon.init.js"></script>

        <script src="public/assets/js/app.js"></script>

</body>

</html>